@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.fontDesign{
  
  font-size: 10px;
  box-shadow: 0px 1px 30px rgb(64, 62, 62);
}

.hero{
  transform-style:preserve-3d;
  z-index: -1;
}

.ramanujan_text{
  text-shadow: 2px 7px 10px rgb(108, 104, 104);
}

/* Perspective for 3D effect */
.perspective-1000 {
  perspective: 1000px; /* Adjust as needed */
}

/* Container for the flip effect */
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Maintain 3D transformations */
  transition: transform 0.6s; /* Smooth transition for the flip effect */
  transform-origin: center; /* Rotate around the center */
}

/* Flip effect on hover */
.flip-card:hover {
  transform: rotateY(180deg);
}

/* Image styles */
.flip-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when flipped */
  object-fit: cover; /* Ensure image covers the container */
}

/* Back image rotation */
.flip-card img.back {
  transform: rotateY(180deg); /* Rotate back image to show it */
}
