@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.fontDesign{
  
  font-size: 10px;
  box-shadow: 0px 1px 30px rgb(64, 62, 62);
}

.hero{
  transform-style:preserve-3d;
  z-index: -1;
}

.ramanujan_text{
  text-shadow: 2px 7px 10px rgb(108, 104, 104);
}

